@model Schedule.IntIta.ViewModels.TimeSlotViewModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>TimeSlotViewModel</h4>
<hr />
@using (Html.BeginForm("Create", "TimeSlot", FormMethod.Post))
{
    <div class="row">
    <div class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(x => x.StartTime)
                @Html.EditorFor(x => x.StartTime)
                @Html.ValidationMessageFor(x => x.StartTime, null, new { @class = "field-validation-error" })
             
             </div>
            <div class="form-group">
                @Html.LabelFor(x => x.EndTime)
                @Html.EditorFor(x => x.EndTime)
                @Html.ValidationMessageFor(x => x.EndTime, null, new { @class = "field-validation-error" })
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(x => x.IsDeleted)
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                @Html.LabelFor(x => x.TypeId)
                @Html.DropDownListFor(x => x.TypeId, Model.Types, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TypeId, null, new { @class = "field-validation-error" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Id)
                @Html.EditorFor(x=>x.Id)
                @Html.ValidationMessageFor(x => x.Id, null, new { @class = "field-validation-error" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
      </div>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
