@model Schedule.IntIta.ViewModels.TimeSlotViewModel

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeSlotViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <form asp-action="Delete">
            <div class="form-group">
                @Html.LabelFor(x => x.Id)
                @Html.DisplayFor(x => x.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.TypeId)
                @Html.DisplayFor(x => x.TypeId)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.StartTime)
                @Html.DisplayFor(x => x.StartTime)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.EndTime)
                @Html.DisplayFor(x => x.EndTime)
            </div>
         </form>

    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
