@using Schedule.IntIta.Domain.Models
@model IEnumerable<Schedule.IntIta.Domain.Models.TimeSlot>

<h2>TimeSlots</h2>

<p>
    <a asp-action="Create">Create new timeslot</a>
</p>

<table class="table-responsive table-striped table-bordered table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>

            <th>
                @Html.DisplayName("Control buttons")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EndTime)
                </td>
                <td>
                   @Html.DisplayFor(model => item.IdType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @if (item.IsDeleted)
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "btn", @disabled = true })
                    }
                    else
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "btn"})
                    }|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })


                </td>
            </tr>
        }
    </tbody>
</table>
