@model ITA.Schedule.Models.LessonViewModel

@{
    ViewBag.Title = "Lesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add or update</title>

    <script src="~/Scripts/DatePicker-ua-locale.js"></script>
</head>
<body>
<div class="container-fluid">
    @using (Html.BeginForm("GetForm", "Lesson", Model))
    {

        <div class="col-md-12 alert">
            <span class="col-md-3 text-right">Дата</span>
            @Html.TextBoxFor(model => model.LessonDate, new {@id = "datepicker", @class = "col-md-1"})
            <span class="col-md-1 text-right">Час</span>
            @Html.DropDownListFor(model => model.LessonDate, Enumerable.Empty<SelectListItem>(), new {@id = "timepicker", @class = "col-md-1"})
        </div>
        <div class="col-md-12 alert">
            <span class="col-md-3 text-right">Викладач</span>
            @Html.DropDownListFor(x => x.TeacherId, Model.TeacherList.Select(x => new SelectListItem() {Value = x.Id.ToString(), Text = x.Name.ToString()}),
                                    "Please Select", new { @class = "col-md-4", @id = "teacher"})
        </div>

        <div class="col-md-12 alert">
            <span class="col-md-3 text-right">Предмет</span>
            @Html.DropDownListFor(x => x.SubjectId, Enumerable.Empty<SelectListItem>(), "Please Select",
                new {@class = "col-md-11 disabled", @id = "subject-list"})
        </div>
        <div class="col-md-12 alert">
            <span class="col-md-3 text-right" >Група</span>
            
            @Html.DropDownListFor(x => x.MyGroupId, Model.Groups, "Please Select", new {@class = "col-md-4", @id = "myGroup"})
        </div>
        <div class="col-md-12 alert">
            <span class="col-md-3 text-right">Підгрупа</span>

            @Html.DropDownListFor(x => x.SubGroupId, Enumerable.Empty<SelectListItem>(), "Please Select", new {@class = "col-md-4", @id = "subgroup"})
        </div>
        @*<div>
            @*//@Html.DropDownList("GroupsId", Model.Groups, "Please Select", new {@id = "myGroup"})
        </div>*@ 
        <div class="col-md-12 alert">
            <button class="col-md-offset-4 btn btn-default btn-success right" type="submit">Внести зміни</button>
        </div>
    }
</div>
<script>

    $(document).ready(function() {
        $('#teacher').change(function () {
            console.log("on change Jquery");
            $('#subject-list').empty();
            $("#subject-list").append($("<option></option>").html("Please Select"));

            $.getJSON("/Lesson/GetSubjects/" + $(this).val(), null, function (data) {
                $.each(data, function () {
                    $("#subject-list").append($("<option></option>").val(this.Value).html(this.Text));
                });
            });


        });


        $('#myGroup').change(function () {
            var idGroup = $(this).val();

                    $('#subgroup').empty();
                    $("#subgroup").append($("<option></option>").html("Please Select"));

                    $.getJSON("/Lesson/GetSubGroupss/" + $(this).val(), null, function (data) {
                        $.each(data, function () {
                            $("#subgroup").append($("<option></option>").val(this.Value).html(this.Text));
                        });
                    });

                console.log(idGroup);
            });

        $(function () {
            var timeFromObject = new Date("@Model.LessonDate.Date.ToString("MM/dd/yyyy")");

            $.datepicker.setDefaults($.datepicker.regional['ua']);
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", timeFromObject);
            $.datepicker.setDefaults($.datepicker.regional["uk"]);
            
        });
    });

</script>
</body>



