@model Schedule.IntIta.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.DisplayFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SeatNumber)
            @Html.DisplayFor(x => x.SeatNumber)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.RoomStatus)
            @Html.DisplayFor(x => x.RoomStatus)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Office)
            @Html.DisplayFor(x => x.Office)
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
