@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using Schedule.IntIta

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink($"Admin", "Index", "Admin", "")</li>
    }
    if (User.Identity.Name != "")
    {

        <li>@Html.ActionLink($"{User.Identity.Name}", "Index", "Schedule", "")</li>
    }
    else
    {
        <li>@Html.ActionLink("", "Index", "Schedule", "", new { @class = "glyphicon glyphicon-user" })</li>
    }



    <li>@Html.ActionLink("Logout", "SignOut", "Authentication")</li>
}
else
{
    <li>@Html.ActionLink("Login", "SignIn", "Authentication")</li>
}