@using Schedule.IntIta.Domain.Models
@using Schedule.IntIta.ViewModels
@model FilterEvents

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*<form asp-action="Index" method="Post">*@
@*<div class="form-actions no-color">
        <p>
            Find by TypeOfEvent: <input class ="filtering" type="text" name="SearchTypeOfEvent" id="sType" value="@ViewBag.TypeOfEvent" /><br>
            Find by InitiatorName: <input class="filtering" type="text" name="SearchInitiator" id="sInitiator" value="@ViewBag.TypeOfEvent" /><br>
            Find by RoomName: <input class="filtering" type="text" name="SearchRoom" id="sRoom" value="@ViewBag.RoomName" /><br>
            Find by GroupName: <input class="filtering" type="text" name="SearchGroup" id="sGroup" value="@ViewBag.GroupName" /><br>
            <a asp-action="Index">Back to Full List</a> |
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>*@
@using (Html.BeginForm("Filter", "Event", FormMethod.Post))
{
    <fieldset>
        <form asp-action="Filter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                TypeOfEvent @Html.EditorFor(x => x.TypeOfEvent)<br>
                InitiatorName @Html.EditorFor(x => x.InitiatorName)<br>
                GroupName @Html.EditorFor(x => x.GroupName)<br>
                RoomName @Html.EditorFor(x => x.RoomName)
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </fieldset>
}
<table class="table-responsive table-striped table-bordered table-hover ">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Subject</th>
        <th>Initiator</th>
        <th>Room</th>
        <th>Group</th>
        <th>Comments</th>
        <th>Deleted</th>
    </tr>
    </thead>
    <tbody>
    @foreach (EventViewModel item in ViewBag.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.TypeOfEvent.Name)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Date.StartTime)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Date.EndTime)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
             
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
